@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Belanosima', sans-serif;
}
.title{
    color: red;
}
/* body.active {
    background-color: black;
} */