.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.animation{
  width: 70%;
  height: 70%;
  margin-left: 100px;
}

.assign{
  width: 120px;
}

.styled-table thead tr {
  background-color: #751BF9;
  color: #ffffff;
  text-align: left;
}

.task_column{
  width: 100px;
}
.serial_column{
  width: 20px;
}

.th_title{
  width: 40px;
}

.video{
  margin-top: -35px;
}

#descr{
  width: 180px;
}

.update_column,.delete_column{
  display: flex;
  justify-content: center;
  align-items: center;
}
.column_mid{
  width: 70px;
}

.delete_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #751BF9;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #751BF9;
}